<% config = data_source.new_record? ? {} : (data_source.config || {}).with_indifferent_access %>

<h5 class="mb-3"><%= t('data_sources.config_json_api.title') %></h5>

<div class="mb-3">
  <label for="data_source_config_url" class="form-label"><%= t('data_sources.config_json_api.url_label') %></label>
  <input type="url" name="data_source[config][url]" id="data_source_config_url" value="<%= config[:url] %>" class="form-control" placeholder="<%= t('data_sources.config_json_api.url_placeholder') %>" required="required">
  <div class="form-text"><%= t('data_sources.config_json_api.url_help') %></div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <label for="data_source_config_method" class="form-label"><%= t('data_sources.config_json_api.method_label') %></label>
    <select name="data_source[config][method]" id="data_source_config_method" class="form-select">
      <option value="get" <%= 'selected' if (config[:method] || 'get') == 'get' %>><%= t('data_sources.config_json_api.method_options.get') %></option>
      <option value="post" <%= 'selected' if config[:method] == 'post' %>><%= t('data_sources.config_json_api.method_options.post') %></option>
      <option value="put" <%= 'selected' if config[:method] == 'put' %>><%= t('data_sources.config_json_api.method_options.put') %></option>
      <option value="patch" <%= 'selected' if config[:method] == 'patch' %>><%= t('data_sources.config_json_api.method_options.patch') %></option>
      <option value="delete" <%= 'selected' if config[:method] == 'delete' %>><%= t('data_sources.config_json_api.method_options.delete') %></option>
    </select>
  </div>
  <div class="col-md-3 mb-3">
    <label for="data_source_config_timeout" class="form-label"><%= t('data_sources.config_json_api.timeout_label') %></label>
    <input type="number" name="data_source[config][timeout]" id="data_source_config_timeout" value="<%= config[:timeout] || 30 %>" class="form-control" min="1">
  </div>
  <div class="col-md-3 mb-3">
    <label for="data_source_config_interval" class="form-label"><%= t('data_sources.config_json_api.interval_label') %></label>
    <input type="number" name="data_source[config][interval]" id="data_source_config_interval" value="<%= config[:interval] || 60 %>" class="form-control" min="1">
    <div class="form-text"><%= t('data_sources.config_json_api.interval_help') %></div>
  </div>
</div>

<div class="mb-3">
  <label for="data_source_config_json_path" class="form-label"><%= t('data_sources.config_json_api.json_path_label') %></label>
  <input type="text" name="data_source[config][json_path]" id="data_source_config_json_path" value="<%= config[:json_path] %>" class="form-control" placeholder="<%= t('data_sources.config_json_api.json_path_placeholder') %>">
  <div class="form-text"><%= t('data_sources.config_json_api.json_path_help') %></div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h6 class="card-title"><%= t('data_sources.config_json_api.headers.title') %></h6>
    <div class="mb-3">
      <label for="data_source_config_headers" class="form-label"><%= t('data_sources.config_json_api.headers.label') %></label>
      <textarea name="data_source[config][headers]" id="data_source_config_headers" class="form-control font-monospace" rows="4" placeholder='{"Content-Type": "application/json", "X-API-Key": "your-key"}'><%= config[:headers].present? ? JSON.pretty_generate(config[:headers]) : '' %></textarea>
      <div class="form-text"><%= t('data_sources.config_json_api.headers.help') %></div>
    </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h6 class="card-title"><%= t('data_sources.config_json_api.query_params.title') %></h6>
    <div class="mb-3">
      <label for="data_source_config_query_params" class="form-label"><%= t('data_sources.config_json_api.query_params.label') %></label>
      <textarea name="data_source[config][query_params]" id="data_source_config_query_params" class="form-control font-monospace" rows="3" placeholder='{"limit": 10, "format": "json"}'><%= config[:query_params].present? ? JSON.pretty_generate(config[:query_params]) : '' %></textarea>
      <div class="form-text"><%= t('data_sources.config_json_api.query_params.help') %></div>
    </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h6 class="card-title"><%= t('data_sources.config_json_api.body.title') %></h6>
    <div class="mb-3">
      <label for="data_source_config_body" class="form-label"><%= t('data_sources.config_json_api.body.label') %></label>
      <textarea name="data_source[config][body]" id="data_source_config_body" class="form-control font-monospace" rows="4" placeholder='{"key": "value"}'><%= config[:body].present? ? (config[:body].is_a?(String) ? config[:body] : JSON.pretty_generate(config[:body])) : '' %></textarea>
      <div class="form-text"><%= t('data_sources.config_json_api.body.help') %></div>
    </div>
  </div>
</div>

<div class="card bg-light">
  <div class="card-body">
    <h6 class="card-title"><%= t('data_sources.config_json_api.auth.title') %></h6>
    <div class="mb-3">
      <label for="data_source_config_bearer_token" class="form-label"><%= t('data_sources.config_json_api.auth.bearer_label') %></label>
      <input type="text" name="data_source[config][bearer_token]" id="data_source_config_bearer_token" value="<%= config[:bearer_token] %>" class="form-control" placeholder="<%= t('data_sources.config_json_api.auth.bearer_placeholder') %>" autocomplete="off">
    </div>
    <hr>
    <h6 class="mb-3"><%= t('data_sources.config_json_api.auth.basic_title') %></h6>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="data_source_config_auth_username" class="form-label"><%= t('data_sources.config_json_api.auth.username_label') %></label>
        <input type="text" name="data_source[config][auth][username]" id="data_source_config_auth_username" value="<%= config.dig(:auth, :username) %>" class="form-control" autocomplete="off">
      </div>
      <div class="col-md-6 mb-3">
        <label for="data_source_config_auth_password" class="form-label"><%= t('data_sources.config_json_api.auth.password_label') %></label>
        <input type="password" name="data_source[config][auth][password]" id="data_source_config_auth_password" value="<%= config.dig(:auth, :password) %>" class="form-control" autocomplete="off">
      </div>
    </div>
  </div>
</div>
