<div id="<%= dom_id data_source %>">
  <div>
    <strong>Creator:</strong>
    <%= data_source.creator_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= data_source.name %>
  </div>

  <div>
    <strong>Source type:</strong>
    <%= data_source.source_type %>
  </div>

  <div>
    <strong>Config:</strong>
    <%= data_source.config %>
  </div>

  <div>
    <strong>Is public:</strong>
    <%= data_source.is_public %>
  </div>

</div>
