<%= form_with(model: data_source) do |form| %>
  <% if data_source.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('common.errors.prevented_saving', count: data_source.errors.count) %></h5>

      <ul class="mb-0">
        <% data_source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :creator_id, t('data_sources.form.creator'), class: "form-label" %>
    <%= form.text_field :creator_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :name, t('common.labels.name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :source_type, t('common.labels.type'), class: "form-label" %>
    <%= form.number_field :source_type, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :config, t('data_sources.form.config'), class: "form-label" %>
    <%= form.text_field :config, class: "form-control" %>
  </div>

  <div class="mb-3 form-check">
    <%= form.checkbox :is_public, class: "form-check-input" %>
    <%= form.label :is_public, t('common.badges.public'), class: "form-check-label" %>
  </div>

  <div>
    <%= form.submit t('common.buttons.save'), class: "btn btn-primary" %>
  </div>
<% end %>
