<div class="modal fade" id="newUserGroupModal" tabindex="-1" aria-labelledby="newUserGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserGroupModalLabel"><%= t('user_groups.new.title') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('common.buttons.close') %>"></button>
      </div>
      <div class="modal-body">
        <%= render "form_fields", user_group: UserGroup.new %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('common.buttons.cancel') %></button>
        <button type="submit" class="btn btn-primary" form="new_user_group_form"><%= t('common.buttons.create') %></button>
      </div>
    </div>
  </div>
</div>
