<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('common.errors.prevented_saving', count: user.errors.count) %></h5>

      <ul class="mb-0">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, t('users.form.first_name'), class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, t('users.form.last_name'), class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, t('users.form.email'), class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :sub, t('users.form.sub'), class: "form-label" %>
    <%= form.text_field :sub, class: "form-control" %>
  </div>

  <div>
    <%= form.submit t('common.buttons.save'), class: "btn btn-primary" %>
  </div>
<% end %>
