<%= turbo_frame_tag "modal" do %>
  <div class="modal fade show" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" style="display: block;" data-controller="modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showUserModalLabel"><%= t('users.show.title') %></h5>
          <%= link_to "", users_path, class: "btn-close", aria: { label: t('common.buttons.close') }, data: { turbo_frame: "_top" } %>
        </div>
        <div class="modal-body">
          <dl class="row mb-0">
            <dt class="col-sm-4"><%= t('users.show.first_name') %></dt>
            <dd class="col-sm-8"><%= @user.first_name %></dd>

            <dt class="col-sm-4"><%= t('users.show.last_name') %></dt>
            <dd class="col-sm-8"><%= @user.last_name %></dd>

            <dt class="col-sm-4"><%= t('users.show.email') %></dt>
            <dd class="col-sm-8"><%= @user.email %></dd>

            <dt class="col-sm-4"><%= t('users.show.sub') %></dt>
            <dd class="col-sm-8"><%= @user.sub %></dd>

            <dt class="col-sm-4"><%= t('users.show.groups') %></dt>
            <dd class="col-sm-8">
              <% if @user.user_groups.any? %>
                <% @user.user_groups.order(:name).each do |group| %>
                  <%= link_to group.name, user_group_path(group), class: "badge text-bg-secondary text-decoration-none me-1", data: { turbo_frame: "_top" } %>
                <% end %>
              <% else %>
                <span class="text-muted"><%= t('common.labels.none') %></span>
              <% end %>
            </dd>

            <dt class="col-sm-4"><%= t('users.show.data_sources') %></dt>
            <dd class="col-sm-8">
              <% if @accessible_data_sources.any? %>
                <% @accessible_data_sources.each do |data_source| %>
                  <span class="badge text-bg-light border me-1"><%= data_source.name %></span>
                <% end %>
              <% else %>
                <span class="text-muted"><%= t('common.labels.none') %></span>
              <% end %>
            </dd>
          </dl>
        </div>
        <div class="modal-footer">
          <%= link_to t('common.buttons.close'), users_path, class: "btn btn-secondary", data: { turbo_frame: "_top" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
