<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel" data-confirm-delete-target="title"><%= t('shared.confirm_delete_modal.title') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('common.buttons.close') %>" data-action="confirm-delete#close"></button>
      </div>
      <div class="modal-body" data-confirm-delete-target="body">
        <%= t('shared.confirm_delete_modal.body') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-action="confirm-delete#close"><%= t('common.buttons.cancel') %></button>
        <form method="post" data-confirm-delete-target="form">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button type="submit" class="btn btn-danger" data-confirm-delete-target="confirmButton"><%= t('common.buttons.delete') %></button>
        </form>
      </div>
    </div>
  </div>
</div>
