<%= turbo_frame_tag "widget_modal" do %>
  <div class="modal fade" id="newWidgetModal" tabindex="-1" aria-labelledby="newWidgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newWidgetModalLabel"><%= t('widgets.new.title') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('common.buttons.close') %>"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: Widget.new, local: true, id: "new_widget_form") do |form| %>
            <%= render "widgets/form_fields", form: form, widget: Widget.new %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('common.buttons.cancel') %></button>
          <button type="submit" class="btn btn-primary" form="new_widget_form"><%= t('common.buttons.create') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
