<div id="<%= dom_id widget %>">
  <div>
    <strong>Name:</strong>
    <%= widget.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= widget.description %>
  </div>

  <div>
    <strong>Type:</strong>
    <%= widget.type %>
  </div>

  <div>
    <strong>Color:</strong>
    <%= widget.color %>
  </div>

  <div>
    <strong>Is public:</strong>
    <%= widget.is_public %>
  </div>

</div>
