<div id="<%= dom_id dashboard %>">
  <div>
    <strong>Name:</strong>
    <%= dashboard.name %>
  </div>

  <div>
    <strong>Columns:</strong>
    <%= dashboard.columns %>
  </div>

  <div>
    <strong>Is public:</strong>
    <%= dashboard.is_public %>
  </div>

  <div>
    <strong>Icon:</strong>
    <%= dashboard.icon %>
  </div>

</div>
